<td>{{name}}</td>
<td>{{website}}</td>
<td>Contact Name</td>
<td><a href="#" class="btn btn-mini btn-danger" data-confirm="Are you sure?" rel="nofollow">Delete</a>
<td><a href="#" class="btn btn-mini btn-danger delete-link" data-confirm="Are you sure?" rel="nofollow">Delete</a></td>
