<h1>Clients</h1>

<table id="clients-list" class="table table-striped">
  <thead>
    <tr>
      <th>Company</th>
      <th>Website</th>
      <th>Contact</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<br />
<a href="#clients/new" class='btn btn-primary'>New Client</a>