<h1>Invoices</h1>

<table id="invoices-list" class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Date</th>
      <th>Client</th>
      <th>Total</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>