<div id="simple-invoicer">
</div>

<script type="text/json" id="bootstrap">
  {
    "invoices": <%= render(template: "api/invoices/index.json.rabl") %>,
    "currentUser": <%= render(template: "api/users/show.json.rabl") %>
  }
</script>

<%= content_for :javascript do -%>
  <script type="text/javascript">

    $(function () {
      var div = $('<div></div>');
      div.html($('#bootstrap').text());
      var data = JSON.parse(div.text());

      SimpleInvoicer.initialize(data);
    });
  </script>
<% end %>