<div class="row">
  <div class="span10 offset1">
    <h2>Welcome to Simple Invoicer!</h2>
    <h5>An application to generate and keep record of your invoices.</h5>
    <div class="well">
      Not already a member? <%= link_to 'Sign Up', new_user_registration_path %> now.
    </div>
  </div>
</div>