Editing Profile

<fieldset>
  <div class="form-inputs">
    <div class="control-group string optional">
      <label class="string optional control-label" for="profile_name">Name</label>
      <div class="controls">
        <input class="string optional" id="profile_name" name="profile[name]" size="50" type="text" value="{{name}}"></div></div>
    {{company_name}}{{id}}
  </div>
</fieldset>
